:root {
  --primary-color: #2AA1FE; /* Vibrant Purple */
  --secondary-color: #00000; /* Black */
  --accent-color: #13293d; /* Dark Blue */
  --background-color: #f8f8f8; /* Light Gray */
}

.faq-section {
  background-color: var(--background-color);
  padding: 40px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.heading h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 900;
}

.faq-item {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
}

.faq-item.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}

.arrow-icon {
  font-size: 20px;
  color: var(--primary-color);
}

.answer {
  display: none;
  margin-top: 10px;
  color: var(--primary-color);
  font-family: 'IBM Plex Mono', monospace;
}

.faq-item.active .answer {
  display: block;
  color: #fff;
}
