.hero-section {
  background-color: black;
  height: 80%;
  width: 100%;
  display: flex;
  color: #f3f4f6;
  padding: 4vw 4vw;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.left> h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  overflow: hidden;
 background: -webkit-linear-gradient(#c4b5fd, #3b0764);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  white-space: pre-wrap;
}
.left>h3{
  font-size: 20px;
  font-weight: 700;
}

.hero-content> p {
  font-size: 1.5rem;
  color: #444444;
  margin-bottom: 30px;
}

.action-buttons {
  display: flex;
}

.left {
  height: 100%;
  width: 60%;
  padding: 7vw 8vw;
}

.left> h1 {
  font-size: 4.5vw;
  font-weight: 700;
  line-height: 5vw;
}

.left> p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.right {
  height: 100%;
  width: 40%;
}

@media (max-width: 650px) {
  .hero-section {
    height: 100%;
    flex-direction: column;
    padding: 4vw 5vw;
  }
  .left {
    height: 50%;
    width: 100%;
    padding: 4vw 4vw;
  }
  .right {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .right> img {
    height: 100%;
    width: 100%;
  }
  .left >h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 5vw;
  }
  .left >p {
    font-size: 18px;
    margin-bottom: 8vw;
  }
}

