.hero-section {
  z-index: 1; /* Ensure the hero section is above the fixed navbar */
}

/* Adjust the existing .hero-section rules */
.hero-section {
  background: linear-gradient(to bottom, #0C94FE, #ffffff);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Center align horizontally */
  color: #222222;
}
.action-buttons{
  padding-top: 3px;
}

.left {
  width: 90%;
  margin: auto;
  padding: 7vw 8vw;
  text-align: center;
}

.left h1 {
  margin-top: -2rem;
  font-size: 4.5vw;
  font-weight: bold;
  line-height: 1.2;
  color: #222222;
}

.left p {
  font-size: 1.5rem;
  color: #444444;
  margin-bottom: 2.5vw;
}

.right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.right img {
  max-width: 100%;
  height: auto;
  animation: floating-balls 10s infinite ease-in-out;
}

@keyframes floating-balls {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.heroImg {
  margin-top: 1.5rem; /* Adjust the value as needed */
}


.hero-para {
  max-width: 100%; /* Set the maximum width for the paragraph */
  margin: 0 auto; /* Center the text horizontally */
  padding: 0 15px; /* Add some padding for better readability */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  overflow-wrap: break-word; /* Break words to prevent overflow */
  font-size: small;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .hero-section {
    padding: 6vw;
    flex-direction: column;
  }

  .left {
    width: 100%;
    padding: 6vw;
    text-align: center;
  }

  .right {
    width: 100%;
  }

  .right img {
    max-width: 80%;
    margin-top: 3rem;
  }

  /* Adjust font size and padding for mobile */
  .hero-para {
    font-size: 16px;
    padding: 0 10px;
  }
}
