body {
  background-color: #2191FB;
  font-family: 'IBM Plex Mono', monospace;
}

/* =========== PRIZE SECTION CODE ================== */
.prize-section {
  width: 100%;
  height: 100%;
  background-color: #2191FB;
  padding: 4px 2px;
  padding-bottom: 100px;
}
.prize-section .container1 {
  padding: 0px 110px;
}
/* .prize-section h1{
    text-align: center;
    font-size: 85px;
    color:#fff;
    
}

.prize-section h2{
    font-size: 35px;
    /* margin-bottom: 40px; }*/

/* .prize-section h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin-bottom: 40px;
} */
/* .prize-section a {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
   padding-top: 10px; 
}

.prize-section p {
  font-size: 23px;
  color: #fff;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
} */
.centerdpara{
  text-align: center;
}
.prize img {
  position: relative;
}

.first-cup img {
  width: 75px;
  position: absolute;
  margin-top: -30px;
  margin-left: -80px;
}
.rotate img {
  transform: rotate(30deg);
}
.container1 {
  background-color: #000;
  width: 90%;
  margin-left: 70px;
  border-radius: 20px;
}

.second-cup img {
  margin-top: -160px;
  width: 90px;
  margin-left: -80px;
}
.third-cup img {
  width: 70px;
  /* margin-top: -340px; */
  /* margin-top: 20px; */
  margin-top: -20px;
  margin-left: -80px;
  width: 90px;
}
.others img {
  width: 80px;
  /* margin-bottom: -30px; */
  margin-top: -25px;
  margin-left: -95px;
  width: 90px;
  /* margin-left: -1; */
}

.prize {
  /* background-color: rgb(224, 224, 224); */
  background-color: #6c63ff;
  /* position: absolute; */
  padding: 30px 40px;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}


