@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

#themes {
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    -webkit-background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;

}

.abc {
    background-color: rgb(0, 0, 0);
}



.faltudiv {
    height: 50px;
    background-color: rgb(0, 0, 0);
}

.glow {
    font-size: 80px;
    color: #fff;
    /* text-align: center; */
    -webkit-animation: glow 0.5s ease-in-out infinite alternate;
    -moz-animation: glow 0.5s ease-in-out infinite alternate;
    animation: glow 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0px #fff, 0 0 8px #fff, 0 0 12px #e60073, 0 0 18px #e60073, 0 0 23px #e60073, 0 0 24px #e60073, 0 0 24px #e60073;
    }

    to {
        text-shadow: 0 0 0px #fff, 0 0 10px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 26px #ff4da6, 0 0 28px #ff4da6;
    }
}

.modals {
    background-color: rgb(30, 30, 32) !important;
    color: #fff !important;
}

/*card realted*/
.cardimgbg {
    color: white !important;
    background-color: black !important;
    height: 250px;
}

.cardtxtbg {
    color: white !important;
    /* background-color: rgb(30, 30, 32) !important; */
    background-color: rgb(0, 0, 0) !important;
    /* min-height: 200px; */
}

.cardclass {
    font-family: 'Playfair Display', serif;
    /* border:5px solid red; */
    box-shadow: 2px 2px 4px 4px rgb(71, 4, 4);
    margin-top: 20px;
    min-height: 450px;
}

.abc2 {
    display: none;
    display: black !important;
}

@media screen and (max-width:440px) {
    #themes {
        font-size: 50px;
        margin-inline: auto;
    }
    .cardimgbg{
        height: 200px;
    }
    .ca{
        /* width:1000px; */
    }

    .abc {
        display: none;
        background-color: rgb(0, 0, 0) !important;
    }

    .abc2 {
        display: inline;
        background-color: rgb(0, 0, 0) !important;
    }

    .card {
        max-width: 100%;
        font-size: 15px;
        margin-inline: auto;
        min-height: 469px;
    }
}