.themes {
  padding: 80px 0;
  background-color: #000;
}

.themes-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.theme-box {
  flex: 0 0 calc(33.33% - 20px); /* Each box takes one-third of the container width with 20px gap */
  background-color: #222222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer; /* Add cursor pointer on hover */
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.theme-box:hover {
  transform: translateY(-5px); /* Apply hover effect */
}

.theme-box h3 {
  font-size: 1.5rem;
  color: #fff; /* Use black (#000) for the heading text color */
  margin-bottom: 10px;
}

.theme-box .circleShape {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Create a circular shape */
  background-color: #6B5B95; /* Use dark gray (#222) for the circle background */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  color: #fff; /* Use white (#fff) for the icon color */
}

.theme-box .circleShape svg {
  font-size: 36px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .theme-box {
    flex: 0 0 calc(50% - 20px); /* Change the box width to half on smaller screens */
  }
}

@media (max-width: 576px) {
  .theme-box {
    flex: 0 0 calc(100% - 20px); /* Change the box width to full on even smaller screens */
  }
}
