.themes {
  padding: 2vw 0;
  background-color: #000;
}

.themes-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.theme-box {
  flex: 0 0 calc(33.33% - 20px); /* Each box takes one-third of the container width with 20px gap */
  background-color: #222222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer; /* Add cursor pointer on hover */
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.theme-box:hover {
  transform: translateY(-5px); /* Apply hover effect */
}

.theme-box h3 {
  font-size: 1.2rem;
  color: #fff; /* Use black (#000) for the heading text color */
  margin-bottom: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}

.theme-box .circleShape {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Create a circular shape */
  background-color: #6b5b95; /* Use dark gray (#222) for the circle background */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  color: #fff; /* Use white (#fff) for the icon color */
}

.theme-box .circleShape svg {
  font-size: 36px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .theme-box {
    flex: 0 0 calc(50% - 20px); /* Change the box width to half on smaller screens */
  }
}

@media (max-width: 576px) {
  .theme-box {
    flex: 0 0 calc(100% - 20px); /* Change the box width to full on even smaller screens */
  }
}

.container {
  text-align: center;
}

.glitch {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
