/* -------------Events--------------------- */

.events{
    background: #000;
    /* height: 100%; */
    padding-top: 6rem;
    padding-bottom: 40px;
    height: 100%;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 600;
  font-size: 4vw;
}

.heading h1 {

  background-image: linear-gradient(to right, #6C63FF, #222222);
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
.container-event{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline:nth-child(1){
    animation-delay: 0s;
}
.timeline:nth-child(2){
    animation-delay: 1s;
}
.timeline:nth-child(3){
    animation-delay: 2s;
}
.timeline:nth-child(4){
    animation-delay: 3s;
}

.text-box{
    padding: 20px 30px;
    background: #222222;
    color: #7A7A7A;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left: 0;

}
.right-container{
    left: 50%;
}
.container-event img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px;
}
.timeline::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #222222;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 3s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #222222;
    right: -15px; 
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #222222;
    left: -15px; 
}
@media screen and (max-width:600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container-event{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #222222;
        border-left: 0;
        left: -15px;
    }
}
