@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.footer {
  background:#13293D;
  color: #fff;
  padding: 40px 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left h3,
.footer-right h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 900;
}

.footer-left p,
.footer-right li {
  margin-bottom: 5px;
  font-family: 'IBM Plex Mono', monospace;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.social-links a:hover {
  opacity: 0.8;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 0.9rem;
  font-family: 'IBM Plex Mono', monospace;
}

@media screen and (max-width: 440px) {
  .RuleHead {
    font-size: 40px;
  }
  .RulePoints {
    font-size: 15px;
  }
  .RulePoints2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-right {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
