.navbar-body {
  background: #000;
  color: white;
  font-weight: 600;
}

.navbar {
  height: 5rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  /* object-fit: contain; */
  margin-left: 1rem;
  height: 4rem;
  width: 8rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.desktopMenuListItem:hover {
  color: #7a5b95;
}

.contactButton {
  padding: 3px 18px; /* Adjust padding values as needed */
}


.desktopMenuBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 1rem; */
  border-radius: 2rem;
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}

.active {
  color: #7a5b95;
}

.mobMenu {
  padding: 5px;
  text-decoration: none;
  display: none;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  min-width: 15rem;
  background: #111827;
  border-radius: 1rem;
  width: 150px;
}

.ListItem {
  color: white;
  width: 100%;
  padding: 1rem 0 ;
  margin: 4px auto;
  background: #374151;
  text-decoration: none;
  text-align: center;
}
.navMenu :nth-child(1){
  border-radius: 1rem 1rem 0 0;
  margin-top: 0;
}
.navMenu :nth-child(4){
  border-radius:0 0 1rem 1rem;
  margin-bottom: 0;
}

/* Media query for mobile */
@media screen and (max-width: 850px) {
  .mobMenu {
    display: flex;
    z-index: 10;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
}
