/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar-body {
  background: #2AA1FE;
  z-index: 9;
  position: fixed;
  color: white;
  font-family: sans-serif;
}

.navbar {
  height: 5rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  /* object-fit: contain; */
  margin-left: 1rem;
  height: 4rem;
  width: 8rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.desktopMenuListItem:hover {
  color: #7a5b95;
}

.contactButton {
  padding: 3px 18px; /* Adjust padding values as needed */
}


.desktopMenuBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 1rem; */
  border-radius: 2rem;
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}

.active {
  color: #7a5b95;
}

.mobMenu {
  display: none;
  object-fit: cover;
  height: 3rem;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  min-width: 15rem;
  background: white;
  border-radius: 1rem;
}

.ListItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
  text-decoration: none;
}

/* Media query for mobile */
@media screen and (max-width: 770px) {
  .mobMenu {
    display: flex;
    z-index: 10;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
}
