*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    overflow-x: hidden;
}
body{
    background-color: #000;
    font-family: Verdana,sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

