* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  color: #e5e7eb;
}
body {
  background-color: #2191FB;
  font-family: "IBM Plex Mono", monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.container1 {
  width: 100vw;
}
