*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
body{
    background-color: #000;
    font-family: 'IBM Plex Mono', monospace;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

