.colorBlack{
  background-color: #f8f8f8;
}
.participation-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 40px;
  flex-wrap: wrap; /* Allow the flex items to wrap on smaller screens */
  max-width: 1300px; /* Limit the section's maximum width */
  margin: 0 auto; /* Center the section horizontally */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Align the image vertically */
  max-width: 600px; /* Limit the image container width */
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.points-container {
  flex: 1;
  margin-left: 40px;
  display: flex;
  flex-direction: column; /* Stack the points vertically */
  justify-content: flex-start; /* Align the points at the top */
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; /* Center the heading text */
  width: 100%; /* Ensure the heading takes the full width */
}

.rules-list {
  list-style: none;
  padding: 0;
}

.rules-list li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Align the bullet and text horizontally */
  font-family: 'IBM Plex Mono', monospace;

}

.rules-list li:before {
  content: "\2022"; /* Bullet character */
  font-size: 1.5rem;
  margin-right: 10px;
  color: #6C63FF; /* Use the light blue color for the bullet */
}


@media screen and (max-width: 768px) {
  .participation-rules {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-container {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .points-container {
    margin-left: 0;
  }
}

.container {
  text-align: center;
}

.glitch {
  color: blue;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
